/* You can add global styles to this file, and also import other style files */
.row{ display:flex; flex-wrap:wrap; }
.square { position: relative; flex-basis: calc(100vh / 4); height: calc(100vh / 4); margin: 0px;  border: 1px solid; box-sizing: border-box; }